<style>
  body {
    background-image: url('https://pro2-bar-s3-cdn-cf5.myportfolio.com/8a039178254ed6bc4173a7e27653f3f3/6dad7cd3-c9c9-4183-a7b2-57863ca5a21e_rw_3840.jpg?h=69925e63bce40c33364e457acddf4b87');
  }
</style>
<div id="home"> 
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-color">
        <h1>{{msg}}</h1>
        <div class="transparent-box"> 
          <h1>Welcome to Favorites:</h1>
        </div>
                <!-- This is where you search -->
        <form class="clearfix mb-4" action="POST">
          
        <div class="transparent-box">      
          <h2>All the ingredients and recipes you've saved will appear on this page.</h2>        
        </div>
         
        <ul id="food-list" class="list-group">
{{!--                    
            <button class="btn btn-danger float-right delete">ｘ</button> --}}
          

               
{{body}}
<div id="responseItem">
          {{#each ingredients}}
            <h1>{{this.title}}</h1>
                     
          {{/each}}

        </div></ul>
        <div id="responseItem">
         {{#each recipes}}
            <h1>{{this.title}}</h1>
          {{/each}}
        </div>
                  </ul>
      </div>
    </div>
  </div>
  
</div>


<script type="/javatextscript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
{{!-- <script src="/js/favorites.js"></script> --}}