<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-color">
        <h1>{{msg}}</h1>
        <div class="transparent-box">
          <h2>Sign up for a forager acount.</h2>
        </div>
                <!-- This is where you log in -->
       <form>
  <div class="form-group">
    <label for="usernameInput">Username</label>
    <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  
  
  
</form>
<button type="signup" class="btn btn-primary" id="user-Signup">Sign-Up</button>

<script type="/javatextscript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

<script src="/js/signup.js"></script>

<script>

</script>
                <!-- end -->